.about-containt{
    width: 100%;
    ;
    background-color: #000000;
}

.about-flex{
   
    display:flex;
    margin-top: 100px;
    
}

.img-gym{
    margin:50px 60px;
}

.para-container{
    color: #ffffff;
    /* margin:146px 112px; */
    margin-top: 40px;
    margin-right: 112px;
    
    text-align: left;
    
}

.about-heading{
    color: #99ff32;
    text-align: center;
    color: gold;
    /* margin-top: 112px; */
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-left: 500px;
    margin-top: 50px;
}

.symheading{
    font-size: 30px;
    margin-left: -30px;
}

.line{ 
    margin-left: 487px;
    width: 1000px;
    margin-top: 30px;
    font-size: 24px;
}

.about-heading{
    margin-left: 360px;
}

.services{
    margin-top: 50px;
    margin-left: 480px;
    margin-right: 480px;
}

.service-Heading{
    text-align: center;
    color: #99ff32;
}

.service-para{
    text-align: center;
    color: #ffffff;
    font-size: 19px;
}
.card-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;  
}

.Card{
    width: 300px;
    height: 350px;
    margin: 48px;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.card-img{
    width: 384px;
    height: 350px;
    border: 1px solid #ffffff;
}
.Card-info{
    background-color: #ffffff;
    width: 316px;
    height: 205px;
    position: relative;
    left: 30px;
    bottom: 28px;
    border: 1px solid #ffffff;
    border-radius: 3px 3px 10px 10px;
    
}

.header-info{
    width: 314px;
    background-color: #d43aba;
    padding: 5px;
} 

.cardParaInfo{
    color: #000000;
    padding: 5px;
    font-size: 17px;
}
.flexbox{
    display: flex;
    margin-top: 12rem;
    color: #ffffff;
    justify-content: center;
}

.left-info{
    margin-top: 20px;
    width: 400px;
}

.right-image{
    border: 1px solid #ffffff;
    background-color: blue;
    width: 850px;
    margin-left: 100px;
}

.headinglbox{
    color: #99ff32;
}

.paralbox{
    font-size: 19px;
}
.bigImage{
    margin-top: -230px;
}

.headingslider{
    color:#99ff32
}

.leftside{
    margin-left: 140px;
    width: 710px;

}

.rightside{
    margin-right: 130px;
}
.studiosym{
    margin-left: 50px;
}


.span{
    margin-left: 50px;
    width: 400px;
    margin-top: 30px;
}

.visit{
    margin-left: 50px;
}

.headingslider{
    width: 400px;
    
}

.imagepara{
    margin-top: 25px;
}

.name {
    text-decoration: none;
    position: relative;
    bottom: 20px;
  }
  
  .name::after {
    content: "";
    position: absolute;
    bottom: -16px; /* Adjust the distance as needed */
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }

  .comment{
    padding: 30px 200px;
  }
  
  .companyInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3c2a74;
    height: 530px;

  }

  .form{
    margin-top: 20px;
   margin-left: 140px
  }

  input{
    width: 500px;
    border-radius: 10px;
    padding: 6px;
    
  }
  .info{
    padding-top: 100px;
    margin-left: 140px;
    width: 400px;
    color: white;
}

.symbol{
    display: inline-block;
    
}

.strengthofgym{
    margin-top: 50px;
    position: static;
}

.allcont{
    position: relative;
    bottom: 525px;
    text-align: center;
    color: white;
    width: 870px;
    left: 475px;
}
.symbols{
    margin-top: 10px;
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.infosym{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

#strength{
    margin-bottom: 30px;
    color: gold;
}
.Testmonials{
    height: 1210px;
    background-color: #e6baba;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 60px;
    margin-left: 255px;
}

.box{
    width: 630px;
    height: 344px;
    border: 1px solid #000000;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #888888;
    color: #ffffff;
    background-color: #3e3c3c;
}

.author{
    padding: 20px 30px;
    font-size: 22px;
}

.authorComm{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 400;
}

.links{
    margin-left: 250px;
    margin-top: 10px;
    padding-right: 50px;
}
a{
    color: #99ff32;
}

a:hover{
    color: rgb(208, 12, 247)
}
