.sidebar{
    cursor: pointer;
    width: 368px;
    height: 1027px;
    background: violet;
    margin: 0;
    position: relative;
    left: 100px;
    top: -20px;
    padding: 40px;
    text-align: center;
    font-size: 2rem;
    line-height: 2;
    z-index: 9999;
}
.cross-btn{
    position: relative;
    top: -5px;
    left: 146px;
    cursor: pointer;
}
li{
    list-style: none;
    line-height: 2.5;
    color: #ffffff;
}